includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - .
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    excludePaths:
        - ./vendor/*
        - ./docs/*
