includes:
    - phpstan-baseline.neon

parameters:
    level: 2
    paths:
        - .
    excludePaths:
        - ./build/*
        - ./vendor/*
        - ./docs/*
        - ./Tests/*

    tmpDir: build/phpstan
    reportUnmatchedIgnoredErrors: true
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: true
   
