includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - .

    #checkModelProperties: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

    bootstrapFiles:
    #    - ./Modules/Xot/Services/vendor/autoload.php

    scanFiles:
    #    - ./Modules/Xot/Helpers/Helper.php
